a:focus, a:hover {
    color:#666;
}
/*标题*/
.head-title {
    width: 100%;
    line-height: 1.5rem;
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 0.35rem;
}
.head-title i {
    color: #c5c5c5;
    padding: 0 4px;
}
.header-menu-background {
    width: 100%;
}
/*头部导航菜单样式*/
header {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 1.2rem;
}
header a {
    display: inline-block;
    height: 100%;
}
header a img {
    height: 0.3rem;
    margin-top: 0.45rem;
    padding-left: 0.3rem;
}
header i.iconfont {
    float: right;
    line-height: 1.2rem;
    padding: 0 0.3rem;
    color: #fff;
    font-size: 0.5rem;
    transition: all 300ms;
}
.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 100%;
    padding-top: 1.2rem;
    display: none;
    background-color: rgba(5,86,148,0.9);
}
.header-menu a {
    display: block;
    color: #fff;
    font-size: 0.35rem;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.header-menu a li {
    text-align: center;
    line-height: 1.2rem;
}
/*公用底部样式*/
footer {
    width: 100%;
    overflow: hidden;
    background: url("../images/footer_bg.jpg") repeat left top;
    padding:0.5rem 0;
    margin-top:1rem;
}
footer img.curr {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 40%;
    padding: 0 0.15rem;
}
footer img.tel {
    width: 0.45rem;
    margin-right: 0.2rem;
}
footer .about {
    width: 60%;
    float: left;
    padding-left: 0.1rem;
}
footer div p {
    width: 100%;
    font-size: 0.24rem;
    line-height: 0.45rem;
}

/*底部*/