/*内容*/
.text {
    height: 1.11rem;
    line-height: 1.11rem;
    font-size: 0.28rem;
    color: #999;
    margin-left: 0.49rem;
    margin-top: 1rem;
}
.content {
    background-color:#fff;
    overflow: hidden;
}
.content .tab {
    width: 100%;
    padding: 0 0.45rem;
}
.content .tab .swiper-container1 .swiper-wrapper .swiper-slide {
    width: 50%;
    text-align: center;
    height: 1.13rem;
    line-height: 1.13rem;
    color: #999;
    font-size: 0.3rem;
}
.content .tab .swiper-container1 {
    border-bottom: 2px solid #ececec;
}
.content .tab .swiper-container1 .swiper-wrapper .swiper-slide a {
    display: inline-block;
    width: 1.4rem;
    height: 1.14rem;
}
.swiper-container2 {
    padding: 0.4rem 0;
}
.swiper-container2 .swiper-wrapper .swiper-slide {
    padding: 0 0.35rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(1) h3 {
    font-size: 0.32rem;
    font-weight: 400;
    color: #1573bf;
    border-left: 7px solid #1573bf;
    padding-left: 0.22rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(1) p {
    padding: 0.38rem 0.3rem 0 0.3rem;
    font-size: 0.28rem;
    line-height: 0.4rem;
    color: #333;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(1) .img {
    text-align:center;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(1) img {
    width: 6.2rem;
    margin: 0.43rem 0rem 1.05rem 0rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(1) .address {
    margin: 0.44rem 0;
    font-size: 0.28rem;
    color: #666;
    line-height: 0.48rem;
    padding: 0 0.3rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(1) .address img {
    margin: 0.45rem 0 0 0;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) {

}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) h3{
    font-size: 0.36rem;
    color: #333;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 0.78rem
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) h3 i {
    position: absolute;
    left:50%;
    top: 0.6rem;
    height: 5px;
    width: 0.6rem;
    background-color: #1573bf;
    margin-left: -0.3rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) p {
    font-size: 0.28rem;
    color: #666;
    line-height: 0.4rem;
    margin-bottom: 0.66rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) ul {
    margin-bottom: 0.65rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) li {
    padding: 0.5rem 0.70rem 0.5rem 0.70rem;
    background-color: #1573bf;
    color: #fff;
    margin-bottom: 0.16rem;
    height: 2.6rem;
    line-height: 2.6rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) li h4 {
    text-align: center;
    position: relative;
    font-size: 0.3rem;
    margin-bottom: 0.6rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) li h4 i {
    position: absolute;
    left: 50%;
    top: 0.5rem;
    width: 0.8rem;
    height: 3px;
    background-color: #fff;
    margin-left: -0.4rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) li p {
    text-align: center;
    color: #fff;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .partner .img {
    width: 100%;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .text2 {
    padding: 0.15rem 0rem 0.35rem 0rem;
    background-color: #fff;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .text2 h5 {
    font-weight: bold;
    line-height: 0.5rem;
    padding: 5px 0;
    font-size: 0.3rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .text2 p {
    line-height: 0.4rem;
    font-size: 0.25rem;
    margin-bottom: 0;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .download {
    width: 4.88rem;
    height: 0.8rem;
    text-align: center;
    background-color: #1573bf;
    margin: 0 auto;
    line-height: 0.8rem;
    color: #fff;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .we h5 {
    margin-top: 0.76rem;
    text-align: center;
    color: #666;
    font-size: 0.3rem;
    font-weight: bold;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .we p {
    margin-top: 0.2rem;
    text-align: center;
    margin-bottom: 0;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .we p i {
    margin-right: 0.2rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .we p:nth-child(3) i {
    vertical-align: middle;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .we p:nth-child(3) {
    margin-top: 0.1rem;
}
.swiper-container2 .swiper-wrapper .swiper-slide:nth-child(2) .we p span {
    margin-left: 0.45rem;
}
.content .tab .swiper-container1 .swiper-wrapper .swiper-slide .active {
    color: #1573bf;
    border-bottom: 4px solid #1573bf;
}