.aptitude_bg {
    width: 100%;
    margin-top: 60px;
}
.share {
    height: 1rem;
    line-height: 1rem;
    padding-left: 0.2rem;
    font-size: 0.28rem;
    color: #666;
    box-shadow: 0 3px 5px rgba(102,102,102,.3);
}
.share a {
    font-weight: 600;
}
.content {
    padding:0 0.2rem;
    padding-top: 0.74rem;
}
.content .cont_center_frist {
    text-align:center;
}
.content .cont_center_frist h4 {
    color:#333;
    font-size:0.36rem;
    line-height: 0.5rem;
}
.content .cont_center_frist .share_it {
    margin-top: 0.31rem;
    margin-bottom: 0.28rem;
    color:#999;
    font-size:0.28rem;
}
.content .cont_center_frist .share_it .curr {

}
.cont_center_two img {
    width:100%;
    height: auto;
    margin: 0;
}
.cont_center_two p {
}
.cont_center_five {
    margin-bottom:1.15rem;
    font-size:0.3rem;
}
.cont_center_five p {
    margin-top:0.3rem;
    font-size:0.25rem;
}
.cont_center_five p:last-child {
    margin-top: 0.1rem;
}
.cont_center_five img {
    margin-top: 0.06rem;
}
.cont_center_five p a {
    display: inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width:6rem;
    color:#0041dd;
    line-height: 0.5rem;
}
.cont_center_five p a.curr {
    color: #666;
}
