.aptitude_bg {
    width:100%;
    margin-top: 60px;
}
.xl {
    text-align: center;
    width:5.25rem;
    height:0.8rem;
    margin-top:0.4rem;
    margin-bottom:0.4rem;
    position: relative;
}
.xl span {
    width:1.65rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    display:inline-block;
    background-color:#375ed2;
    color:#fff;
    float:left;
    font-size:0.28rem;
}
.show_part {
    float: left;
    width: 3.6rem;
    height:0.8rem;
    line-height:0.8rem;
    border: 1px solid #eee;
    border-left: none;
}
.show_part_title {
    width: 2.8rem;
    float: left;
    text-align: left;
    text-indent: 6em;
}
.icon-xiala {
    color: #d2d2d2;
    line-height: 0.8rem;
    width: 0.75rem;
    float: right;
}
.down_list {
    position: absolute;
    z-index:9999;
    right:0;
    top: 0.8rem;
    left: 1.65rem;
    border: 1px solid #ccc;
    border-top: none;
    background: #f4f4f4;
    text-align: left;
    text-indent: 6em;
    display: none;
    max-height: 4rem;
    overflow-y: auto;
}
.down_list li {
    line-height: 0.8rem;
    border-bottom: 1px solid #ccc;
}
.down_list li:last-child {
    border: none;
}
    /*.xl label {
        position: absolute;
        right: 0.5rem;
        top: 0;
        display: block;
        z-index: 999;
        color: #d2d2d2;
        line-height: 0.8rem;
    }
    .xl .cc {
        width: 5rem;
        height: 0.8rem;
        line-height: 0.8rem;
        border: 1px solid #dbdbdb;
    }
    .xl .cc #select {
        width: 5rem;
        height: 0.8rem;
        line-height: 0.8rem;
        padding-left: 1rem;
        color: #666;
        border: 0;
        font-size: 0.28rem;
        float: left;
        margin-left: -0.6rem;
        background: transparent;
		appearance:none;
        -webkit-appearance: none;
        -moz-appearance:none;
        position: absolute;
        left:2rem;
        top:0;
        z-index:9;
    }*/
.content {
    padding:0 0.2rem;
    min-height:3rem;
}
.content ul {
}
.content ul li {
    height:1.2rem;
    line-height:1.2rem;
    margin-bottom:0.3rem;
    padding:0 0.3rem;
    font-size:0.3rem;
    border: 1px solid #e9ecf3;
}
.content ul li a {
    display:inline-block;
    height:100%;
    width:100%;
    font-size:0.28rem;
}
.content ul li a span:nth-child(1) {
    font-size:0.24rem;
    color:#999;
    float:left;
}
.content ul li a span:nth-child(2) {
     padding-right:0rem;
     border-right:0px solid #f5f5f5;
     margin-left:0.5rem;
     overflow: hidden;
     word-break: keep-all;
     white-space: nowrap;
     text-overflow: ellipsis;
     width:2rem;
     display:inline-block;
     text-align: center;
 }
.content ul li a i {
    float:right;
    font-size:0.24rem;
    color:#999;
}
/*加载更多*/
.down_refresh {
    width: 100%;
    text-align: center;
    font-size: 0.24rem;
    margin-bottom: 0.5rem;
    height: 1rem;
    display: none;
}
.down_refresh img {
    height: 0.3rem;
    display: none;
    margin-top: 0.35rem;
    margin-right: 0.15rem;
    transform: rotateZ(0deg);
}
.down_refresh img.curr {
    display: inline-block;
    transform: rotateZ(1080deg);
    transition: all 3000ms;
}
.down_refresh i{
    display: inline-block;
    line-height: 1rem;
    color:#999;
}
/*加载更多*/